#mixtape {
  font-family: "Roboto Mono", monospace;
}

.bg-img {
  background-image: url("https://images.unsplash.com/photo-1567637825410-e1e2f8582f7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

#album-art-style {
  max-height: 120px;
}

.btn-blank {
  position: absolute;
  background: transparent;
  border: none;
  right: 1.5em;
}

.btn-blank-song {
  position: absolute;
  background: transparent;
  border: none;
  right: -0.5em;
  top: -0.5em;
}

.media-body {
  position: relative;
  font-size: 15px;
}

.media-body > h5 {
  font-size: 18px;
}
